<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vitamincode.vitamincode_be.mapper.ClassMapper">

    <resultMap id="ClassResultMap" type="Class">
        <id property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="classDescription" column="class_description"/>
    </resultMap>

    <sql id="ColumnClass">
        class_id
        , class_name
        , class_description
    </sql>

    <insert id="insertClass">
        insert into class(
           class_name
         , class_description
        )
        values (
           #{classEntity.className},
           #{classEntity.classDescription}
               )
    </insert>

    <update id="updateClass">
        update class
        set class_name = #{classEntity.className},
            class_description = #{classEntity.classDescription}
        where class_id = #{classEntity.classId}
    </update>

    <delete id="deleteClassById">
        delete
        from class
        where class_id = #{classId}
    </delete>

    <select id="selectAllClass" resultMap="ClassResultMap">
        select
        <include refid="ColumnClass"/>
        from class
    </select>

    <select id="selectClassById" resultMap="ClassResultMap">
        select
            <include refid="ColumnClass"/>
        from class
        <where>
            <if test="classId != null">
                class_id = #{classId}
            </if>
        </where>
    </select>

    <select id="selectClass" resultMap="ClassResultMap">
        select
            <include refid="ColumnClass"/>
        from class
        <where>
            1 = 1
            <if test="classEntity.classId != null">
                and class_id = #{classId}
            </if>
            <if test="classEntity.className != null">
                and class_name = #{className}
            </if>
            <if test="classEntity.classDescription != null">
                and class_description = #{classDescription}
            </if>
        </where>
    </select>

    <select id="isClassExists" resultType="boolean">
        select exists(
            select 1
            from class
        where class_id = #{classId}
        )
    </select>

</mapper>