<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vitamincode.vitamincode_be.mapper.ClassMapper">

    <resultMap id="ClassResultMap" type="Class">
        <id property="classId" column="class_id"/>
        <result property="className" column="class_name"/>
        <result property="classDescription" column="class_description"/>
    </resultMap>

    <insert id="insertClass">
        insert into class(
           class_name
         , class_description
        )
        values (
           #{classEntity.className},
           #{classEntity.classDescription}
               )
    </insert>

    <update id="updateClass">
        update class
        set class_name = #{classEntity.className}
        and class_description = #{classEntity.classDescription}
        where class_id = #{classEntity.classId}
    </update>

    <delete id="deleteClassById">
        delete
        from class
        where class_id = #{classId}
    </delete>

    <select id="selectAllClass" resultMap="ClassResultMap">
        select class_id
             , class_name
             , class_description
        from class
    </select>

    <select id="selectClassById" resultMap="ClassResultMap">
        select class_id
             , class_name
             , class_description
        from class
        where class_id = #{classId}
    </select>
</mapper>